section.widget.contactinfos{
    padding:20px;
    text-align:center;
}
section.widget.contactinfos a:visited{
    color:white;
}
section.widget.contactinfos p:last-child:after{
    display:block;
    clear:both;
    content:'';
}
section.widget.contactinfos a{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
section.widget.contactinfos p b{
    display:block;
}
@media (min-width:768px) {
    section.widget.contactinfos p.address,
    section.widget.contactinfos p.phone,
    section.widget.contactinfos p.fax,
    section.widget.contactinfos p.email{
        display:inline-block;
        width:25%;
        vertical-align: top;
    }
}
